/dist
/.cabal-sandbox*
/env-scripts/specific
.*.swp
*.pyc
*.sublime-workspace
cabal.sandbox.config
.idea/*
_priv/site*.pem
/website/*
_priv/
LOGIT
deep_test*
/webgen/_site/
/webgen/.idea/
/notes/.ipynb_checkpoints/
\#*\#
/.stack-work/
/docs-website/venv
/docs-website/_build
/webgen/venv
/tools/docker-images/prototype_1/docs_website_build/
/tools/docker-images/prototype_1/anz
/tools/docker-images/prototype_1/shimmer
/tools/docker-images/prototype_1/shmc-make-cache
/tools/docker-images/prototype_1/redis.conf
/tools/docker-images/base_0/redis.conf
/tools/ca-make/
/tools/docker-certs/
/testyard/
/.dir-locals.el
.#*
shimmercat
shimmercat*.run
bin-dist/
/.shimmercat.loves.devs/
/chromedatadir
/testsuite
/bin_dist
/tools/libbotan-1.11.*
/tools/make_installer.wpu
/tools/redis-server
/tools/7za
cbits/.ipynb_checkpoints
/docs-website/
/tests/suite2/.idea
unknown_log_messages.yaml
/test-www-project
/docker-build/base-image/tools/
/.sconsign.dblite
cbits_build/
